# Backend API base URL
# Leave empty to use same-origin in Docker/Nginx (/api)
VITE_API_URL=

# Leaflet tiles URL
# Recommended in Docker: same-origin + Nginx proxy
VITE_TILE_URL=/data/antananarivo/{z}/{x}/{y}.pbf
VITE_STYLE_URL=/styles/bright/style.json

# Firebase override (optional)
VITE_FIREBASE_API_KEY=AIzaSyAgooGs6XiDVqu5FhDiBHC5Actg7n_CzP0
VITE_FIREBASE_AUTH_DOMAIN=projet-route-1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=projet-route-1
VITE_FIREBASE_STORAGE_BUCKET=projet-route-1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=224726348719
VITE_FIREBASE_APP_ID=1:224726348719:web:7d8cfa5a7a8667f7d1355a
VITE_FIREBASE_DATABASE_URL=https://projet-route-1-default-rtdb.firebaseio.com
